<header class="page-header row justify-center">
  <div class="col-md-6 col-lg-8" >
    <div class="username mt-1">
      <h1 class="mb-1">Inicio</h1>
      <h6 class="text-muted">Campañas</h6>
    </div>
  </div>

  <div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


    <div class="username mt-1">
      <h4 class="mb-1" id="nombre">{{email}}</h4>
      <h6 class="text-muted" id="grupo">Tutor</h6>
    </div>
  </a>

    <div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink"><a class="dropdown-item" href="#"><em class="fa fa-user-circle mr-1"></em></a>
     </div>
  </div>

  <div class="clear"></div>
</header>
